<div class="modal" id="myModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Añadir Skill</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <div class="mx-5 my-3">
                <div class="field">
                    <label class="label">Nombre Skill</label>
                    <div class="control">
                        <input class="input" type="text">
                    </div>
                </div>
            
                <div class="field">
                    <label class="label">Descripcion Skill</label>
                    <div class="control">
                        <textarea class="textarea"></textarea>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button" (click)="closeModal()">Cancel</button>
        </footer>
    </div>
</div>

<button class="button is-info" (click)="openModal()">Añadir skill</button>