<div class="modal" id="myModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Añadir Skill</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <app-skills-add></app-skills-add>
            <app-skills-add></app-skills-add>
            <app-skills-add></app-skills-add>

            <nav class="pagination is-centered mt-3" role="navigation" aria-label="pagination">
                <a class="pagination-previous">Previous</a>
                <a class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                </ul>
            </nav>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Guardar cambios</button>
            <button class="button" (click)="closeModal()">Cancelar</button>
        </footer>
    </div>
</div>

<button class="button is-success is-small rounded" (click)="openModal()">Añadir </button>