<app-lateral-bar>
  <p class="title text-center">Users:</p><br>
  <br />
  <div class="table-responsive-xl">
    <table class="table table-striped is-bordered ">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th class="d-none d-lg-block" scope="col" >Image</th>
          <th >Name</th>
          <th >Surname</th>
          <th >Role</th>
          <th  class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of all_users; track $index) {
        <tr>
          <th scope="row"><b>{{user.id}}</b></th>
          <td class="d-none d-lg-block" >
            @if (user.photo  == null){
              <img class="photo_a_u" src="../../assets/img/profile.jpg" />
            }@else{
              <img class="photo_a_u" src="data:image/jpeg;base64,{{user.photo}}" />
            }
          </td>
          <td >{{user.name}}</td>
          <td >{{user.lastname}} {{user.lastname2}}</td>
          <td ><b>{{ user.role.name | titlecase}}</b></td>
          <td  class="text-center">
            @if (user.role.name != "user"){
              <button (click)="change_role(user.id,'user')" class="button is-link is-small">Set to ser</button>
            }
            @if (user.role.name != "hr"){
              <button (click)="change_role(user.id,'hr')" class="button is-info is-small">Set to Human resources</button>
            }
            @if (user.role.name != "admin"){
              <button (click)="change_role(user.id,'admin')" class="button is-warning is-small">Set to Administrator</button>
            }
            @if (user.role.name != "admin"){
            <button (click)="delete_user(user.id)" class=" text-center button is-danger is-small">Delete</button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <br>
  @if (pagination.total_pages > 1) {
    <div class="center">
      <nav class="pagination is-small" role="navigation" aria-label="pagination">
        @if (pagination.current_page !=0 ){
        <a
          (click)="get_page(pagination.current_page - 1)"
          class="pagination-previous"
          >Previous</a
        >
        } @if (pagination.current_page+1 != pagination.total_pages ){
        <a (click)="get_page(pagination.current_page + 1)" class="pagination-next"
          >Next page</a
        >
        }
        <ul class="pagination-list">
          @if (pagination.current_page > 0 ){
          <li>
            <a
              (click)="get_page(0)"
              class="pagination-link"
              aria-label="Goto first"
              >1</a
            >
          </li>
  
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          @if (pagination.current_page != 1){
          <li>
            <a
              class="pagination-link"
              (click)="get_page(pagination.current_page - 1)"
              aria-label="Goto previous"
              >{{ pagination.current_page }}</a
            >
          </li>
          } }
          <li>
            <a
              class="pagination-link is-current"
              aria-label="current page"
              aria-current="page"
              >{{ pagination.current_page + 1 }}</a
            >
          </li>
          @if (pagination.current_page+1 != pagination.total_pages ){
          <li>
            <a
              (click)="get_page(pagination.current_page + 1)"
              class="pagination-link"
              aria-label="Goto next"
              >{{ pagination.current_page + 2 }}</a
            >
          </li>
          } @if (pagination.current_page+2 != pagination.total_pages ){ @if
          (pagination.current_page+1 != pagination.total_pages ){
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li>
            <a
              (click)="get_page(pagination.total_pages - 1)"
              class="pagination-link"
              aria-label="Last page"
              >{{ pagination.total_pages }}</a
            >
          </li>
          } }
        </ul>
      </nav>
    </div>
    }
</app-lateral-bar>
