<app-lateral-bar>
  @if (loaded == true){
  <div class="text-center">
    <h1 class="title">{{ interview?.title }}</h1>
  </div>
  <br />
  <p><b>Description :</b></p>
  <p>{{ interview?.description }}</p>
  <br />
  <div class="skill_boxes">
    @for (skill of interview?.skills; track $index) {
    <button
      class="button {{ class[skill.id % 5] }} is-small is-light is-responsive"
    >
      {{ skill.skill_name }}
    </button>
    }
  </div>
  @if ( user_interview == null){
  <button (click)="enroll()" class="button is-link is-small"><i class="fa-solid fa-user-check mr-2"></i>Enroll</button>
  } @else{
  <button class="button is-link is-small" disabled>Already enrolled</button>
  }

  <br /><br />
  @if ( user_interview != null){
  <article class="message is-link">
    <div class="message-body">
      <p>
        <b><i class="fa-solid fa-briefcase"></i> My position :</b>
      </p>
      <br />
      <p><b>State :</b>{{ states[user_interview?.state] }}</p>

      <progress
        class="progress is-primary"
        value="{{ user_interview?.state }}"
        max="4"
      >
        {{ user_interview?.state }}
      </progress>
      <br />
      @if (user_tests?.length > 0){
      <p>
        <b><i class="fa-solid fa-laptop-code"></i> Pruevas tecnicas :</b>
      </p>
      <br/>
      @for (test of user_tests; track $index) {
      <article class="message is-info">
        <div class="message-header">
          <p>{{test.test.name}}</p>
        </div>
        <div class="message-body">
         {{test.test.description}}
        @if (test.do_at !=null){
          
          <p><b>Do at: </b> {{test.do_at | date : "dd-MM-yyyy"}}<br></p>
        }
        @if (test.calification !=null){
          <p><b>Calification: </b> {{test.calification}}</p>
        }
      </div>
        <div class="date_interviews">
          <i class="fa-regular fa-calendar"></i> Fecha limite: 10/12/2024
        </div>
      </article>
      <br />
    }
    }
    </div>
    <br />
    @if (user_interview.internal_comment != null){
    <p><b>Comments :</b></p>
    {{ user_interview?.internal_comment }}
    }
  </article>
  } }@else{
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
</app-lateral-bar>
