<div class="modal" id="userskills{{this.id_modal}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">User Skill</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body ">
            <form [formGroup]="userSkillForm">
                <div class="mb-3">
                    <label for=" exampleInputComment" class="form-label"><span class="default_color" >Qualification</span></label>
                    <input type="number" class="form-control" id="exampleInputComment1" formControlName="qualification">
                </div>
                <div class="mb-3">
                    <label for="exampleInputComment" class="form-label"><span class="default_color" >Comment</span></label>
                    <input type="text" class="form-control" id="exampleInputComment1" formControlName="comment">
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" (click)="send()"><i class="fa-solid fa-floppy-disk mr-2"></i>Save changes</button>
            <button class="button" (click)="closeModal()"><i class="fa-solid fa-xmark mr-2"></i>Cancel</button>
        </footer>
    </div>
</div>

<button (click)="openModal()" class="button is-warning is-small"><i class="fa-solid fa-pen mr-2"></i>Edit</button>

