<app-lateral-bar>


  <div class="d-flex me-1 row" role="search">
    
    <div class="row justify-content-end">

      <div class="col-lg-3 col-md-6 col-sm-12">
        
        <div class="d-flex">
          <input
            #search_input
            class="div-control flex-grow-1 mr-2"
            type="text"
            placeholder="Buscar"
          />
          <button (click)="search(search_input.value)" class="button is-small is-link mt-1">Find</button>
        </div>
      </div>
    </div>
    <p class="title text-center">Positions:</p><br>
  </div>
  <div class="row ">
    @for (interview of interviews; track $index) {
      <div class="col-12 col-md-6">
      <div class=" card  card-separation ">
        <div class="pad-card" >
        <header class="card-header ">
          <p class="card-header-title">
            <i class="fa-solid fa-briefcase"></i>
            {{ interview.title }}
          </p>

        </header>
        <div class="card-content">
          <div class="content">
            <b>Description: </b><p>{{interview.description}}</p>
            @for (skill of interview.skills; track $index) {
              <button
                class="button {{ class[skill.id % 5] }} is-small is-light is-responsive"
              >
                {{ skill.skill_name }}
              </button>
            }
            <div class=" content-right">
              <i class="fa-regular fa-calendar"></i>
              <time datetime="">{{
                interview.end_date | date : "dd-MM-yyyy"
              }}</time>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          @if (role == "hr"){
            <a [routerLink]="['/interview_hr', interview.id]" class="card-footer-item"
            >View position</a
          >
          }@else {
            <a [routerLink]="['/interview', interview.id]" class="card-footer-item"
            >View position</a
          >
          }
         
        </footer>
      </div>
    </div>
  </div>
    }
  </div>
  
  <br />
  @if (pagination.total_pages > 1) {
  <div class="center">
    <nav class="pagination is-small" role="navigation" aria-label="pagination">
      @if (pagination.current_page !=0 ){
      <a
        (click)="get_page(pagination.current_page - 1)"
        class="pagination-previous"
        >Previous</a
      >
      } @if (pagination.current_page != pagination.total_pages ){
      <a (click)="get_page(pagination.current_page + 1)" class="pagination-next"
        >Next page</a
      >
      }
      <ul class="pagination-list">
        @if (pagination.current_page > 0 ){
        <li>
          <a
            (click)="get_page(0)"
            class="pagination-link"
            aria-label="Goto first"
            >1</a
          >
        </li>

        <li><span class="pagination-ellipsis">&hellip;</span></li>
        @if (pagination.current_page != 1){
        <li>
          <a
            class="pagination-link"
            (click)="get_page(pagination.current_page - 1)"
            aria-label="Goto previous"
            >{{ pagination.current_page }}</a
          >
        </li>
        } }
        <li>
          <a
            class="pagination-link is-current"
            aria-label="current page"
            aria-current="page"
            >{{ pagination.current_page + 1 }}</a
          >
        </li>
        @if (pagination.current_page+1 != pagination.total_pages ){
        <li>
          <a
            (click)="get_page(pagination.current_page + 1)"
            class="pagination-link"
            aria-label="Goto next"
            >{{ pagination.current_page + 2 }}</a
          >
        </li>
        } @if (pagination.current_page+2 != pagination.total_pages ){ @if
        (pagination.current_page+1 != pagination.total_pages ){
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li>
          <a
            (click)="get_page(pagination.total_pages - 1)"
            class="pagination-link"
            aria-label="Last page"
            >{{ pagination.total_pages }}</a
          >
        </li>
        } }
      </ul>
    </nav>
  </div>
  }
</app-lateral-bar>
