<app-lateral-bar>
    <div class="container-fluid">
        <div class="columns mt-2">
            <div class="column is-two-thirds">
                <app-skill-modal></app-skill-modal>
            </div>
            <div class="column d-flex gap-1">
                <input class="input is-link" type="text" placeholder="Buscar por skill">
                <button class="button is-link">Buscar</button>
            </div>
        </div>

        <app-skill></app-skill>
        <app-skill></app-skill>
    </div>


</app-lateral-bar>




