* {
    border-radius: 5px;
}

.ztop {
    z-index: 9999;
}
.sticky-top {
    z-index: 40;
}
main {
    min-height: 80vh;
}

[class*="container"] {
    border: 1px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
}

.row [class*="col"] {
    background-clip: content-box;
}

.nav-item {
    background-color: #eeeeff;
    background-clip: content-box;
}

.filler {
    width: 100%;
}

.pagination-link,
.pagination-previous,
.pagination-next {
    background-color: white !important;
}

.is-current {
    background-color: #485fc7 !important;
}
.photo_frame{ 
    border: 3px solid black; 
    border-radius: 99px; 
}
.nav-link{
    color: #d6d6db;
}

.margin-link{
    margin-left: 6px;
}

.upbarcolor, .lateralcolor{
    background-color: #363636;
}

.lateralbar{
    border-radius: 12px!important;

}

aside img{
    filter: invert(100%) brightness(100%);
}