
.ztop {
    z-index: 9999;
}
.sticky-top {
    z-index: 40;
}
main {
    min-height: 80vh;
}

[class*="container"] {
    border: 1px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
}

.row [class*="col"] {
    background-clip: content-box;
}

.nav-item {
    background-color: #eeeeff;
    background-clip: content-box;
}

.filler {
    width: 100%;
}

.pagination-link,
.pagination-previous,
.pagination-next {
    background-color: white !important;
}

.is-current {
    background-color: #485fc7 !important;
}
.photo_frame{ 
    border: 3px solid black; 
    border-radius: 99px; 
}


.margin-link{
    margin-left: 6px;
}

.nav-link{
    color: #ffffff;
    font-size: 20px;
}

ul .active a {
    font-weight:bolder; 
    background-color:#383961;
    border-radius:6px;
  }

  .left-bar ul li :hover {
    background-color:#6E75A4;
  }

.header-color{
    background-color: #7e89bd;
    border-radius: 0px !important;
}
.bar-color{
    background-color: #7e89bd;
    background-clip: initial !important;
}
.container-color{
    background-color: #eceef3;
    background-clip: initial !important;
}

aside img{
    width: 20px;
    filter: invert() sepia(0.5) hue-rotate(200deg) saturate(10%);
}