<div class="thumb d-flex flex-column vh-100 overflow-hidden">
  <header class="header-color py-3 mb-2 border-bottom">
    <div class="container-fluid align-items-center d-flex me-3 row">
        <div class="flex-grow-1 d-flex align-items-center col-1">
          <div class="flex-shrink-0 dropdown">
            <a [routerLink]="['/interviews']" class="d-block link-dark text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../../assets/img/dcs.png" alt="user" width="75" height="40" class=" rounded-circle" />
            </a>
          </div>
        </div>
      <div class="flex-shrink-1 col-10">
        <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">
          <i class="bi bi-bootstrap fs-2 text-dark"></i>
        </a>
      </div>
      <div class="flex-grow-1 d-flex align-items-center col-1">
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown"
            aria-expanded="false">
            @if (image == null || image == "default_image"){
                          <img src="../../assets/img/profile.jpg" alt="user" width="42" height="42" class=" photo_frame rounded-circle" />
            }@else {
              <img src="data:image/jpeg;base64,{{image}}" alt="user" width="42" height="42" class=" photo_frame rounded-circle" />
            }
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow ztop" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item " [routerLink]="['/profile']">Profile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" [routerLink]="['/login']">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="left-bar  container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">

    <div class="row flex-grow-sm-1 flex-grow-0 filler">
      <aside class="col-sm-2 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3">
        <div class="bar-color border rounded-2 p-1 h-100 sticky-top">

          <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">

            @if (role == "admin") {
              <li>
                <a [routerLink]="['/admin']"  class="nav-link px-2 text-truncate">
                  <i class="bi bi-house fs-5"><img src="../../assets/img/user-tie-solid.svg" alt="user" width="25"
                      height="32" /></i>
                  <span class="d-none d-sm-inline margin-link"> Admin</span>
                </a>
              </li>
            }
          
            @if (role == "hr" || role == "user") {
              <li class="active">
                <a [routerLink]="['/interviews']" class="nav-link px-2 text-truncate">
                  <i class="bi bi-house fs-5"><img src="../../assets/img/file-circle-exclamation-solid.svg" alt="user" width="28"
                      height="32" /></i>
                  <span class="d-none d-sm-inline margin-link"> Interview</span>
                </a>
              </li>
            }
          
            @if (role == "user") {
              <li>
                <a [routerLink]="['/myinterviews']"  class="nav-link px-2 text-truncate">
                  <i class="bi bi-house fs-5"><img src="../../assets/img/file-circle-check-solid.svg" alt="user" width="28"
                      height="32" /></i>
                  <span class="d-none d-sm-inline margin-link"> My Interview</span>
                </a>
              </li>
            }
          
            @if (role == "hr") {
              <li>
                <a [routerLink]="['/new_interview']"  class="nav-link px-2 text-truncate">
                  <i class="bi bi-house fs-5"><img src="../../assets/img/file-circle-plus-solid.svg" alt="user" width="28"
                      height="32" /></i>
                  <span class="d-none d-sm-inline margin-link"> New Interview</span>
                </a>
              </li>
            }

            @if (role == "hr") {
              <li>
                <a [routerLink]="['/skills']"  class="nav-link px-2 text-truncate">
                  <i class="bi bi-house fs-5"><img src="../../assets/img/address-card-solid.svg" alt="user" width="28"
                      height="32" /></i>
                  <span class="d-none d-sm-inline margin-link"> Skills</span>
                </a>
              </li>
            }
          
            @if (role == "user" || role == "hr" || role == "admin") {
              <li>
                <a [routerLink]="['/profile']"   class="nav-link px-2 text-truncate">
                  <i class="bi bi-house fs-5"><img src="../../assets/img/user-solid.svg" alt="user" width="25"
                      height="32" /></i>
                  <span class="d-none d-sm-inline margin-link"> Profile</span>
                </a>
              </li>
            }
          
          
          </ul>
          
        </div>
      </aside>

      <main class="col overflow-auto h-100">
        
        <div class="filler container-color border rounded-3 p-3">
          <ng-content>

          </ng-content>
        </div>
      </main>
    </div>
  </div>
</div>