<div class="modal" id="messageModal{{this.id_modal}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">User comment</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <form [formGroup]="commentForm">
                <div class="mb-3">
                    <label for="exampleInputComment" class="form-label">Comment</label>
                    <input type="text" class="form-control" id="exampleInputComment1" formControlName="comment">
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" (click)="sendComment()">Save changes</button>
            <button class="button" (click)="closeModal()">Cancel</button>
        </footer>
    </div>
</div>

<button class="button is-info is-small" (click)="openModal()"><i class="fa-solid fa-comment mr-2"></i>Add comment</button>