<app-lateral-bar>
    <div class="card w-85 mx-auto">
        <div class="card-content">
            <div class="content">
            <div
                id="photo_profile"
                class="d-flex align-items-center justify-content-center"
            >
            <!-- foto usuario -->
            @if (user?.photo == null){
                <img
                class="photo_frame rounded-circle"
                src="../../assets/img/profile.jpg"
                alt="user"
                width="150"
                height="150"
                />
            }@else{
                <img
                class="photo_frame rounded-circle"
                src="data:image/jpeg;base64,{{user?.photo}}"
                alt="user"
                width="150"
                height="150"
                />
            }
                
                <div class="field">

                    <label class="file-label pencil_icon">
                        <input class="file-input" #image_input  (change)="upload_image($event)" type="file" accept="image/*" name="photo" />
                            <i class="fa-solid fa-pencil"></i>

                    </label>

                </div>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                <input
                    class="input"
                    type="text"
                    placeholder="userName"
                    value="{{user?.name}}"
                />
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                
                </div>
                <!-- Aquí va la validación (dejar en blanco si todo está bien) -->
                <p class="help is-danger"></p>
            </div>

            <div class="field">
                <label class="label">Lastname</label>
                <div class="control has-icons-left">
                <input
                    class="input"
                    type="text"
                    placeholder="userLastName"
                    value="{{user?.lastname}}"
                />
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                
                </div>
                <!-- Aquí va la validación (dejar en blanco si todo está bien) -->
                <p class="help is-danger"></p>
            </div>
            <div class="field">
                <label class="label">Second Lastname</label>
                <div class="control has-icons-left">
                <input
                    class="input"
                    type="text"
                    placeholder="Optional second lastname"
                    value="{{user?.lastname2}}"
                />
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                </div>
                <!-- Aquí va la validación (dejar en blanco si todo está bien) -->
                <p class="help is-danger"></p>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                <input
                    class="input"
                    type="email"
                    placeholder="Email input"
                    value="{{user?.email}}" readonly
                />
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                
                </div>
                <!-- Aquí va la validación (dejar en blanco si todo está bien) -->
                <p class="help is-danger"></p>
            </div>
            @if (current_role == "user"){
            <div class="field">
                <label class="label">Skills</label>
                <div class="content">
                    @for (skill of skillsa; track $index) {
                    <button
                        class="button {{ class[skill.id % 5] }} is-small is-light is-responsive"
                    >
                        {{ skill?.skill_name }}
                    </button>
                    }
                </div>
            </div>
            <app-interview-skills (arrayEnviado)="recibirArray($event)"></app-interview-skills>

            <div id="files" class="row mt-3">
                <div class="field">
                <label class="label">Añadir curriculum</label>
                <div class="file is-small">
                    <label class="file-label">
                    <input class="file-input" #resume_input  (change)="upload_resume($event)" type="file"  name="resume" />
                    <span class="file-cta">
                        <span class="file-icon">
                        <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label"> Elige un archivo </span>
                    </span>
                    @if (user?.resume !=null){
                        <div class="control">
                        <button class="button is-small is-success  mx-1" (click)="view_resume()">View resume</button>
                        </div>    
                    }
                    </label>
                    
                </div>
                </div>
                @if (!file_validation){
                    <p class="help is-danger">The file must be an pdf.</p>
                }
                @if (resume_succes){
                    <p class="help is-success">Resume added succesfull.</p>
                }

            </div>
            <br />
        }
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Guardar</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</app-lateral-bar>
