<div class="modal" id="modalEditTest{{this.id_modal}}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit test</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">

            <form [formGroup]="editTestForm">
                <div class="mb-3">
                    <label for="exampleInputTestTitle1" class="form-label">Test title</label>
                    <input type="text" class="form-control" id="exampleInputTestTitle1" formControlName="title">
                    @if (editTestForm.get('title')?.invalid && editTestForm.get('title')?.touched ) {
                        <p class="has-text-danger">Required field</p>
                    }
                </div>
                <div class="mb-3">
                    <label for="exampleInputTestDescription1" class="form-label">Test Description</label>
                    <textarea class="form-control" id="exampleInputTestDescription1" formControlName="description"></textarea>
                    @if (editTestForm.get('description')?.invalid && editTestForm.get('description')?.touched ) {
                        <p class="has-text-danger">Required field</p>
                    }
                </div>
                <div class="mb-3">
                    <label class="form-label">End Date</label>
                    <div class="control">
                        <input class="input" type="date" formControlName="end_date">
                    </div>
                    @if (editTestForm.get('end_date')?.invalid && editTestForm.get('end_date')?.touched ) {
                        <p class="has-text-danger">Required field</p>
                    }
                </div>
            </form>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" (click)="editTest()"><i class="fa-solid fa-floppy-disk mr-2"></i>Save changes</button>
            <button class="button" (click)="closeModal()"><i class="fa-solid fa-xmark mr-2"></i>Cancel</button>
        </footer>
    </div>
</div>

<button (click)="openModal()" class="button is-warning is-small"><i class="fa-solid fa-pen-to-square mr-2"></i>Edit</button>