<app-lateral-bar>
    <div class="mx-5 my-3">
        <div class="field">
            <label class="label">Titulo oferta</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>
    
        <div class="field">
            <label class="label">Descripcion oferta</label>
            <div class="control">
                <textarea class="textarea"></textarea>
            </div>
        </div>
    
        <div class="field is-grouped is-centered my-5">
            <div class="control has-text-centered is-flex">
                <p class="m-auto fw-bolder">SKILLS</p>
            </div>
            <div class="control">
                <app-interview-skills></app-interview-skills>
            </div>
        </div>
        
    
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link is-sma">Guardar oferta</button>
            </div>
        </div>
    </div>
    

</app-lateral-bar>